@model CalcPorPessoa.WebUI.ViewModel.OperacoesViewModel

@await Html.PartialAsync("_Lista", Model)

@if (Model.Operacoes.ListaPessoas.Count >= 2)
{
	<form method="post">
		<div class="row g-3 align-items-center mb-4 d-flex justify-content-center mt-3">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="col-auto">
				<label for="valorCompra" class="col-form-label fw-bold">Valor da compra (R$):</label>
			</div>
			<div class="col-5 col-sm-3">
				<input asp-for="@Model.ValorCompra" class="form-control" maxlength="14" id="valorCompra" onfocus="this.value=''" />
			</div>
			<div class="text-center">
				<span asp-validation-for="@Model.ValorCompra" class="text-danger"></span>
			</div>
			<div class="text-center">
				<button type="submit" asp-action="VerResultado" class="btn btn-primary">Ver resultado</button>
			</div>
		</div>
	</form>

	@*<p>@Html.Raw(ViewBag.Relatorio)</p>*@

	if (Model.Relatorio != null && Model.Relatorio.LstPessoa.Count > 0)
	{
		<h2>Relatório de valores por pessoa:</h2>

		<div class="table-responsive">
			<table class="table table-responsive table-bordered">
				<thead class="table-light">
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Relatorio.LstPessoa[0].Nome)
						</th>
						<th class="text-nowrap">
							@Html.DisplayNameFor(model => model.Relatorio.LstPessoa[0].ValorCalculado)
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Relatorio.LstPessoa)
					{
						<tr class="text-nowrap">
							<td>
								@Html.DisplayFor(modelItem => item.Nome)
							</td>
							<td>
								@Html.DisplayTextFor(modelItem => item.ValorCalculado)
							</td>
						</tr>
					}
					<tr class="table-light">
						<td colspan="2" class="text-center text-success fs-5 fw-bold">Totais</td>
					</tr>
					<tr>
						<td>
							<h6>Valor da compra:</h6>
						</td>
						<td>
							<h6>R$ @Model.Relatorio.ValorCompra</h6>
						</td>
					</tr>
					<tr>
						<td>
							<h6>Soma dos valores:</h6>
						</td>
						<td>
							<h6>R$ @Model.Relatorio.SomaValores</h6>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		@*<h5>Valor da compra: R$ @Model.Relatorio.ValorCompra</h5>
			<h5>Soma dos valores: R$ @Model.Relatorio.SomaValores</h5>*@
	}
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
	$(function () {
		$("#valorCompra").maskMoney(
			{
				thousands: '.',
				decimal: ',',
				allowZero: false
			}
		);
	})
</script>